<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Eat Da Burger!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />
		<script src="./assets/js/burgers.js"></script>
	</head>

	<body class='bg-dark text-success'>
		<div class='jumbotron bg-success text-dark text-center'>

			<img src='./assets/img/burger.png' id='burger-image'>

			<h1 class='display-5'>Humans Like Burgers!</h1>

			<p class='w-50 mx-auto lead'>Record burgers that you plan to eat, then eat them. If you liked it, return it to the list for seconds.</p>

			<form class="create-form form-inline justify-content-center">

      <div id='burger-form' class="input-group input-group-lg mb-3 w-50">
        <input type="text" id='burger-name' class='form-control' name='burger-name' placeholder='Add New Burger' aria-label="New Burger" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit"><i class="fa fa-plus"></i></button>
        </div>
      </div>

    </form>

		</div>
		{{{ body }}}
	</body>

</html>